{% extends 'base.html' %}
{% block title %} | 500 error {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="broken">
        <div class="wrong">
            <h5>500 Server Error</h5>
            <p class="d-none d-sm-block">Sorry, we had some technical problems. Please try again later.</p>
        </div>
    </section>
{% endblock %}