{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">About Us</h2>
                <hr>
            </div>
        </div>
        <div class="card-contact">
            <div class="card-body-contact">
              <h5 class="card-title text-center">Contact Us!</h5>
              <p class="card-text text-center">deluxecoffeeshop@example.com</p>
              <p class="card-text text-center">Customer Service: 004591196336</p>
              <p class="card-text text-center"><small class="text-muted">Mon to Sat 08:00 to 20:00</small></p>
            </div>
            <img src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGN1c3RvbWVyJTIwc2VydmljZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60" class="card-img-bottom" alt="contact">
        </div>  
    </div>

{% endblock %}
